@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


* {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;/* Esto determina que el body se extienda si el contenido de la pagina se extiende*/
    background:#000;
    max-width:100vw;
}

body main {
    position:relative;
    height:inherit;
    background: url(../Media/img/img_login.jpg) no-repeat;
    background-size: cover;
    background-position: 0 50px;
    background-color: #000;
}

#formulario {
    position:relative;
    display: block;
    width: 50%;
    margin: 0 auto;
    background: transparent;
}

#formulario h1 {
    text-align: center;
    font-size: clamp(1.5rem, 3vw, 3rem);
    color: #fff
}

.form__input {
    display: flex;
    margin: 0 auto;
    max-width: 75%;
    min-width:550px;
    flex-flow: column nowrap;
    padding:1rem 5rem;
    border:2px solid #fff;
    border-radius:10px;
    backdrop-filter: blur(5px);
}

#formulario .form__input .input_label :not([type="checkbox"], i) {
    width: 100%;
    height:50px;
    outline: none;
    border: none;
    padding: 0.7rem;
    border-radius:5px;
}

.form__input-box {
    position: relative;
    padding:.5rem;
}

.form__input-box .bx {
    position: absolute;
    display: inline-block;
    top: 1rem;
    right: 1.5rem;
    color: rgb(83, 83, 83);
    font-size: 30px;
}

.input_label {
    position:relative;
}

.input_text {
    position:absolute;
    display:inline;
    z-index:100;
    top:0;
    font-size:1.2rem;
    width:fit-content;
    align-items:center;
    color:rgb(114, 114, 114);
    transform-origin: left center;
    transition:all .5s linear;
}

[type="submit"] {
    display:block;
    margin:2rem auto;
    width:30rem;
    height:3rem;
}


/* evitar que la parte de datos de garage aparezcan al cargar la página*/

#campos__duenoGarage {
    overflow:hidden;
    height:0;
    transition:all .5s linear;
}

/* funcionamiento de los inputs*/

.form_input:focus ~ .input_text, .form_input:not(:placeholder-shown) ~ .input_text {
    transform:translateY(-50%) scale(.8);
    color:#ffffff;
    text-shadow:1px 1px 2px #000, -1px -1px 2px #000;
}

#checkbox {
    color:#fff;
}

/*-------funcionamiento del checkbox----------------*/

#checkbox:has(input:checked) + #campos__duenoGarage {
    display:block;
    height:250px;
}


/*------------------- footer ----------------------*/

footer {
    position:relative;
    display:block;
    height:200px;
    background:linear-gradient(0deg, rgba(0,0,0,1),rgba(0, 0, 0, 0));
    color:#ffffff;
    clear:both;
}